.center, .image-manip {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-manip {
  border: 5px solid yellow;
}

h1 {
  color: #92631d;
  font-family: 'Franklin Gothic Medium';
  font-size: 32pt;
  text-align: center;
}

h2 {
  color: #e66634;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20pt;
  text-align: center;
}

ul {
  color: #ebe9e4;
  background-color: #8b2001;
  font-size: 16pt;
  font-style: italic;
  margin-left: 200px;
  margin-right: 200px;
}

ul ol {
  color: #e66634;
  background-color: #ebe9e4;
  font-style: normal;
  font-weight: bold;
  font-size: 16pt;
}

ol {
  color: #ebe9e4;
  background-color: #e6cb33;
  font-family: Arial;
  font-size: 20pt;
}

p {
  color: #8b2001;
  font-family: Helvetica;
  font-size: 14pt;
  margin-left: 468px;
  margin-right: 468px;
}

img {
  width: 750px;
  height: 600px;
}

a {
  margin-left: 568px;
  margin-right: 568px;
}
